# Arduino Library Development file
.development

# Atom
*.tags
*.tags1

# VS Code
.vscode

# Jetbrain IDEs
.idea

# PlatformIO
.pio*

# cmake
build/

# Compote build output
dist

# mine
parse*
board*
built*
putty*
last.ota

